<!--定义Mapper映射文件的约束和基本结构-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xd.mapper.ClazzMapper">
    <!-- 条件分页查询班级列表 -->
    <select id="list" resultType="org.xd.pojo.Clazz">
        SELECT c.*, e.name AS masterName
        FROM clazz c
        LEFT JOIN emp e ON c.master_id = e.id
        <where>
            <if test="name != null and name != ''">
                c.name LIKE CONCAT('%', #{name},'%')
            </if>
            <if test="begin != null and begin != ''">
                AND c.begin_date &gt;= #{begin}
            </if>
            <if test="end != null and end != ''">
                AND c.end_date &lt;= #{end}
            </if>
        </where>
        ORDER BY c.id DESC
    </select>

    <!-- 根据ID查询班级 -->
    <select id="getById" resultType="org.xd.pojo.Clazz">
        SELECT c.*, e.name AS masterName
        FROM clazz c
        LEFT JOIN emp e ON c.master_id = e.id
        WHERE c.id = #{id}
    </select>

    <!-- 修改班级信息 -->
    <update id="updateById">
        UPDATE clazz
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="room != null and room != ''">room = #{room},</if>
            <if test="beginDate != null">begin_date = #{beginDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="masterId != null">master_id = #{masterId},</if>
            <if test="subject != null">subject = #{subject},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>